# General
vagrant/k8s-kubeadm-kubernetes/.vagrant/
vagrant/k8s-kubeadm-kubernetes/configs
configs/

.idea

minikube/.terraform*
minikube/terraform*
minikube/terraform.tfstate
# Log files (if you are creating logs in debug mode, uncomment this)
# *.log

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
